<div class="container">
  <div class="footer__row">
    <div class="footer__col">
      <h3 class="footer__heading">SHOP</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">All Departments</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Fashion Deals</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Electronics Discounts</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Home & Living Specials</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Beauty Bargains</a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">HELP</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Contact Us</a>
        </li>
        <li>
          <a href="#!" class="footer__link">FAQ</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Accessibility</a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">COMPANY</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Customer Service</a>
        </li>
        <li>
          <a href="#!" class="footer__link"> Terms of Use </a>
        </li>
        <li>
          <a href="#!" class="footer__link">Privacy</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Careers</a>
        </li>
        <li>
          <a href="#!" class="footer__link">About</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Affiliates</a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <div class="footer__logo">
        <a href="/" class="logo">
          <img src="./assets/icon/logo.svg" alt="grocerymart" class="logo__img" />
          <h1 class="logo__title">grocerymart</h1>
        </a>
      </div>
      <form action="" class="footer__form">
        <div class="footer__form-inner">
          <input type="email" class="footer__form-input btn--rounded btn" placeholder="Your Email Adress" />
          <button class="footer__form-submit btn--rounded btn btn--primary">Subscribe</button>
        </div>
        <label for="" class="footer__label">sign up to get 10% off your first order</label>
      </form>
      <div class="footer__social">
        <a href="" class="footer__social-link">
          <img src="./assets/icon/facebook.png" alt="" class="footer__social-icon" />
        </a>
        <a href="" class="footer__social-link">
          <img src="./assets/icon/tiktok.png" alt="" class="footer__social-icon" />
        </a>
        <a href="" class="footer__social-link">
          <img src="../assets/icon/linkedin.png" alt="" class="footer__social-icon" />
        </a>
        <a href="" class="footer__social-link">
          <img src="../assets/icon/instagram.png" alt="" class="footer__social-icon" />
        </a>
        <a href="" class="footer__social-link">
          <img src="../assets/icon/twitter.png" alt="" class="footer__social-icon" />
        </a>
        <a href="" class="footer__social-link">
          <img src="../assets/icon/youtube.png" alt="" class="footer__social-icon" />
        </a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__coppyright">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
  </div>
</div>
