@use "../abstracts";
.auth {
  background: #fff;
  min-height: 100vh;
  display: flex;
  &__content,
  &__intro {
    flex: 1 0;
    padding: 0 20px;
  }
  .flex-template {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__intro {
    background: var(--auth-intro-bg);
    position: relative;
    justify-content: center;
    @extend .flex-template;
    &--text {
      margin-top: 49px;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
      max-width: 412px;
      color: var(--auth-intro-text-color);
    }
    &-arrow,
    &-logo {
      position: absolute;
      translate: -50%;
      left: 50%;
    }
    &-arrow {
      bottom: 50px;
    }
    &-logo {
      top: 80px;
    }
  }
  &__img {
    width: var(--width);
    max-width: 100%;
  }
  &__content {
    background: var(--auth-content-bg);
    @include abstracts.screen(md) {
      position: fixed;
      inset: 0;
      z-index: 2;
      translate: 100%;
      transition: translate 0.3s;
      overflow-y: auto;
      &-signin {
        translate: 0;
      }
      &.show {
        translate: 0;
      }
    }

    &-inner {
      @extend .flex-template;
      padding: 50px 0;
      text-align: center;
      width: min(460px, 100%);
      margin: 0 auto;
    }
  }
  &__heading {
    margin-top: 50px;
    font-size: 3rem;
    font-weight: 500;
    line-height: 146.667%;
    color: var(--auth-heading-color);
  }
  &__link {
    color: #0071dc;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }
  &__desc {
    @extend .auth__link;
    margin-top: 10px;
    padding: 0 20px;
    color: var(--auth-desc-color);
  }
  &__form {
    margin-top: 60px;
    width: 100%;
  }
  &__text {
    margin-top: 108px;
    color: #9e9da8;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 144.444%;
    .auth__link {
      margin-left: 10px;
    }
  }
  &__btn.form__group {
    margin-top: 50px;
  }
}
