html.dark {
  --bg-body: #292e39;
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(347deg) brightness(105%)
    contrast(101%);
  --bg-header-color: #171c28;
  --boxShadow-top-act-color: rgba(0, 0, 0, 0.2);
  --bg-top-act-saparate-color: #ededf6;
  --bg-top-act-group-color: #292e39;
  --bg-dropdown-color: #3f4552;
  --boxShadow-dropdown-color: rgba(23, 28, 40, 0.4);
  --top-menu-border-color: #0f0f0f;
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(23%) sepia(27%) saturate(349%) hue-rotate(182deg)
    brightness(96%) contrast(86%);
  --filter-menuColumnIcon-color: brightness(0) saturate(100%) invert(98%) sepia(6%) saturate(1274%) hue-rotate(162deg)
    brightness(107%) contrast(96%);
  --color-cateItemTitle: #fff;
  --bg-sidebarColor: #292e39;
  --boxShadow-sidebar: rgba(23, 28, 40, 0.4);
  --color-sidebarText: #b9babe;
  --bg-cateItem: #171c28;
  --bg-cateItemThumb: #292e39;
  --boxShadow-productCard: rgba(0, 0, 0, 0.2);
  --bg-productCard: #171c28;
  --footer-bg: #171c28;
  --filter-bg: #292e39;
  --filter-form-shadow: rgba(0, 0, 0, 0.4);
  --filter-icon-arrow-filter: brightness(0) saturate(100%) invert(17%) sepia(9%) saturate(1073%) hue-rotate(183deg)
    brightness(96%) contrast(96%);
  --form-tag-bg: #171c28;
  --bg-filterBtn: #171c28;
  --color-fillterBtn: #fff;
  --bg-likeBtn: #292e39;
  --auth-intro-bg: #171c28;
  --auth-content-bg: #292e39;
  --auth-intro-text-color: #b9babe;
  --auth-heading-color: #b9babe;
  --breadcrumb-bg: #171c28;
  --breadcrumb-link-color: #9e9da8;
  --breadcrumb-link-active-color: #fff;
  --breadcrumb-box-shadow: rgba(23, 28, 40, 0.2);
  --product-page-bg: #292e39;
  --product-info-bg: #171c28;
  --product-info-tag-bg: #292e39;
  --product-info-container-bg: #171c28;
  --search-bar-bg: #171c28;
  --checkout-breadcrumb-bg: rgba(23, 28, 40, 1);
  --checkout-cart-info-bg: rgba(23, 28, 40, 1);
  --checkout-cart-info-boxshadow: rgba(23, 28, 40, 0.2);
  --checkout-cart-item-border: rgba(41, 46, 57, 1);
  --checkout-gift-bg: rgba(118, 68, 225, 0.1);
  --checkout-gift-boxshadow: rgba(41, 46, 57, 1);
  --modal-bg: #3f4552;
  --modal-boxshadow: rgba(23, 28, 40, 0.4);
  --profile-sidebar-bg: #171c28;
  --profile-sidebar-boxshadow: rgba(23, 28, 40, 0.2);
  --account-info-bg: #b9babe;
}
@media (max-width: 991.98px) {
  html.dark {
    --boxShadow-header-color: rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 575.98px) {
  html.dark {
    --icon-color: brightness(0) saturate(100%) invert(80%) sepia(5%) saturate(164%) hue-rotate(191deg) brightness(95%)
      contrast(87%);
  }
}

html {
  --bg-body: #f6f6f6;
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(18%) saturate(2011%) hue-rotate(210deg) brightness(94%)
    contrast(96%);
  --bg-header-color: #eee;
  --boxShadow-top-act-color: rgba(237, 237, 246, 0.2);
  --bg-top-act-saparate-color: #ededf6;
  --bg-top-act-group-color: #fff;
  --bg-dropdown-color: #fff;
  --boxShadow-dropdown-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;
  --bg-sidebarColor: #fff;
  --boxShadow-sidebar: rgba(200, 200, 200, 0.4);
  --color-cateItemTitle: #000;
  --bg-cateItem: #eee;
  --bg-cateItemThumb: #fff;
  --boxShadow-productCard: rgba(237, 237, 246, 0.2);
  --bg-productCard: #fff;
  --filter-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --form-tag-bg: #f8f8fb;
  --footer-bg: #ddd;
  --bg-filterBtn: #fff;
  --color-fillterBtn: #6c6c72;
  --boxShadow-likeBtn: rgba(124, 124, 124, 0.2);
  --bg-likeBtn: #fff;
  --auth-intro-bg: #fafafd;
  --auth-content-bg: #fff;
  --auth-desc-color: #9e9da8;
  --auth-form-border-input-color: #d2d1d6;
  --breadcrumb-bg: #f6f6f6;
  --breadcrumb-link-color: #9e9da8;
  --breadcrumb-link-active-color: #1a162e;
  --breadcrumb-box-shadow: rgba(237, 237, 246, 0.2);
  --product-page-bg: #fff;
  --product-info-bg: #f6f6f6;
  --product-info-tag-bg: #ededf6;
  --product-info-container-bg: #fff;
  --product-tab-item-color: #9e9da8;
  --search-bar-bg: #fff;
  --review-card-bg: #fafafd;
  --act-dropdown-bg: #fff;
  --act-dropdown-shadow: #c8c8c866;
  --cart-preview-img-border: rgba(0, 0, 0, 0.05);
  --checkout-breadcrumb-bg: rgba(255, 255, 255, 1);
  --checkout-cart-info-bg: rgba(255, 255, 255, 1);
  --checkout-cart-info-boxshadow: rgba(237, 237, 246, 0.2);
  --checkout-cart-item-border: rgba(210, 209, 214, 1);
  --checkout-gift-bg: rgba(118, 68, 225, 0.1);
  --checkout-gift-boxshadow: rgba(118, 68, 225, 0.1);
  --modal-bg: #fff;
  --modal-boxshadow: rgba(237, 237, 246, 0.2);
  --profile-sidebar-bg: #fff;
  --profile-sidebar-boxshadow: rgba(237, 237, 246, 0.2);
  --account-info-bg: #f6f6f6;
}
@media (max-width: 991.98px) {
  html {
    --bg-header-color: #fff;
    --boxShadow-header-color: rgba(237, 237, 246, 0.2);
  }
}
@media (max-width: 767.98px) {
  html {
    --bg-cateItem: #fff;
  }
}
@media (max-width: 767.98px) {
  html {
    --breadcrumb-bg: #fff;
  }
}
@media (max-width: 767.98px) {
  html {
    --product-page-bg: #fafafd;
    --product-info-bg: #fff;
  }
}
@media (max-width: 767.98px) {
  html {
    --review-card-bg: #fff;
  }
}

/*# sourceMappingURL=index.css.map */
