@use "../abstracts";
html.dark {
  --bg-body: #292e39;
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(347deg) brightness(105%)
    contrast(101%);
  --bg-header-color: #171c28;
  @include abstracts.screen(lg) {
    --boxShadow-header-color: rgba(0, 0, 0, 0.2);
  }
  @include abstracts.screen(sm) {
    --icon-color: brightness(0) saturate(100%) invert(80%) sepia(5%) saturate(164%) hue-rotate(191deg) brightness(95%)
      contrast(87%);
  }
  --boxShadow-top-act-color: rgba(0, 0, 0, 0.2);
  --bg-top-act-saparate-color: #ededf6;
  --bg-top-act-group-color: #292e39;
  --bg-dropdown-color: #3f4552;
  --boxShadow-dropdown-color: rgba(23, 28, 40, 0.4);
  --top-menu-border-color: #0f0f0f;
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(23%) sepia(27%) saturate(349%) hue-rotate(182deg)
    brightness(96%) contrast(86%);
  --filter-menuColumnIcon-color: brightness(0) saturate(100%) invert(98%) sepia(6%) saturate(1274%) hue-rotate(162deg)
    brightness(107%) contrast(96%);
  // cart preview
  --act-dropdown-bg: #2f3441;
  --act-dropdown-shadow: rgba(23, 28, 40, 0.4);
  --cart-preview-img-border: rgba(0, 0, 0, 0.05);
  --act-dropdown-arrow-fillter: brightness(0) saturate(100%) invert(16%) sepia(11%) saturate(1324%) hue-rotate(185deg)
    brightness(91%) contrast(83%);

  // sidebar
  --color-cateItemTitle: #fff;
  --bg-sidebarColor: #292e39;
  --boxShadow-sidebar: rgba(23, 28, 40, 0.4);
  --color-sidebarText: #b9babe;
  // category
  --bg-cateItem: #171c28;
  --bg-cateItemThumb: #292e39;
  // productCard
  --boxShadow-productCard: rgba(0, 0, 0, 0.2);
  --bg-productCard: #171c28;
  // footer
  --footer-bg: #171c28;
  // filter
  --filter-bg: #292e39;
  --filter-form-shadow: rgba(0, 0, 0, 0.4);
  --filter-icon-arrow-filter: brightness(0) saturate(100%) invert(17%) sepia(9%) saturate(1073%) hue-rotate(183deg)
    brightness(96%) contrast(96%);
  // form
  --form-tag-bg: #171c28;
  // button
  --bg-filterBtn: #171c28;
  --color-fillterBtn: #fff;
  --bg-likeBtn: #292e39;
  // auth
  --auth-intro-bg: #171c28;
  --auth-content-bg: #292e39;
  --auth-intro-text-color: #b9babe;
  --auth-heading-color: #b9babe;
  // breadcrumb
  --breadcrumb-bg: #171c28;
  --breadcrumb-link-color: #9e9da8;
  --breadcrumb-link-active-color: #fff;
  --breadcrumb-box-shadow: rgba(23, 28, 40, 0.2);
  // product page
  --product-page-bg: #292e39;
  --product-info-bg: #171c28;
  --product-info-tag-bg: #292e39;
  --product-info-container-bg: #171c28;
  // search bar
  --search-bar-bg: #171c28;
  // checkout
  --checkout-breadcrumb-bg: rgba(23, 28, 40, 1);
  --checkout-cart-info-bg: rgba(23, 28, 40, 1);
  --checkout-cart-info-boxshadow: rgba(23, 28, 40, 0.2);
  --checkout-cart-item-border: rgba(41, 46, 57, 1);
  --checkout-gift-bg: rgba(118, 68, 225, 0.1);
  --checkout-gift-boxshadow: rgba(41, 46, 57, 1);
  --modal-bg: #3f4552;
  --modal-boxshadow: rgba(23, 28, 40, 0.4);
  // payment
  --checkout-payment-item-bg: #292e39;
  // profile
  --profile-sidebar-bg: #171c28;
  --profile-sidebar-boxshadow: rgba(23, 28, 40, 0.2);
  // account info
  --account-info-bg: #292e39;
  --account-info-icon-bg: #171c28;
}
