@use "../abstracts";
.form {
  &:has(:invalid) &__btn-submit {
    opacity: 0.7;
    pointer-events: none;
  }
  &__row {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .form__group + .form__group {
      margin-top: 0;
    }
    > * {
      flex: 1;
    }
  }
  &__input-inner {
    padding: 0 12px;
    position: relative;
    height: 50px;
  }
  &__text-area,
  &__input-inner {
    border-radius: 10px;
    width: 100%;
    border: 1px solid var(--auth-form-border-input-color);
    display: flex;
    &:focus-within {
      border-color: #77dae6;
    }
  }
  &__text-area {
    padding: 12px;
    height: 100px;
    &-input {
      resize: none;
    }
  }
  &__text-area-input,
  &__input {
    flex: 1;
    height: 100%;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
    &::placeholder {
      color: var(--auth-form-border-input-color);
    }
    &--icon-error,
    &--icon {
      margin-left: 12px;
    }
    @include abstracts.screen(md) {
      font-size: 1.6rem;
    }
  }
  &__input--icon-error {
    display: none;
  }
  &__group {
    + .form__group {
      margin-top: 30px;
    }
    &--inline {
      display: flex;
      align-items: center;
    }
  }
  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
    .form__input-inner {
      border-color: red;
      background: rgba($color: red, $alpha: 0.1);
    }
    .form__error,
    .form__input--icon-error {
      display: block;
    }
    .form__input--icon {
      display: none;
    }
  }
  &__pull--right {
    margin-left: auto;
  }
  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    gap: 10px;
    &-label {
      color: #9e9da8;
      font-size: 15px;
      font-weight: 500;
      margin-left: 29px;
      line-height: 146.667%;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
    }
    &::before {
      width: 19.5px;
      height: 19.5px;
      border-radius: 5px;
      border: 1.5px solid #9e9da8;
    }
  }
  &__checkbox:has(:checked) {
    &::before {
      background: #77dae6;
      border: #77dae6;
    }
    &::after {
      width: 15px;
      height: 8px;
      border: 2.8px solid;
      border-color: transparent transparent #fff #fff;
      rotate: -45deg;
      top: 5px;
      left: 2px;
    }
  }
  &__btn.btn {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
    height: 50px;
  }
  &__error {
    display: none;
    text-align: start;
    color: red;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.4rem;
  }
  // //////////////////////////////////////
  &__label {
    display: block;
    font-weight: 500;
    line-height: 145.455%;
    font-size: 2.2rem;
    &--small {
      font-size: 1.4rem;
      line-height: 142.857%;
      margin-bottom: 10px;
    }
    &--medium {
      font-size: 1.8rem;
      line-height: 1.4444;
      margin-bottom: 20px;
      @include abstracts.screen(md) {
        font-size: 1.6rem;
        line-height: 150%;
      }
    }
  }
  &__input-text {
    padding: 8px 12px;
    width: 121px;
    border: 1px solid #d2d1d6;
    border-radius: 8px;
    margin-top: 10px;
  }
  &__select {
    width: 100%;
    height: calc(100% - 10px);
    padding: 0 14px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: var(--width, 108px);
    &-wrap {
      display: flex;
      height: 47px;
      align-items: center;
      border: 1px solid #d2d1d6;
      border-radius: 6px;
    }
  }
  &__select + &__select {
    border-left: 1px solid #d2d1d6;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    @include abstracts.screen(lg) {
      gap: 15px;
    }
    @include abstracts.screen(sm) {
      gap: 9px;
    }
  }
  &__tag {
    background: var(--form-tag-bg);
    color: #9e9da8;
    height: 32px;
    border-radius: 6px;
    padding: 6px 12px;
    transition: color 0.2s;
    &:hover {
      color: var(--text-color);
    }
  }
  &__find {
    width: 334px;
    height: 46px;
    border-radius: 6px;
    border: 1px solid #d2d1d6;
    display: flex;
    align-items: center;
    padding: 0 16px;
    &-input {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;
      &::placeholder {
        font-weight: 400;
        line-height: 146.667%;
        color: #9e9da8;
      }
    }
    &-icon {
      padding-left: 12px;
    }
  }
  &__select-dialog {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #fff;
    border: 1px solid var(--auth-form-border-input-color);
    bottom: 52px;
    left: 0;
    max-height: 320px;
    border-radius: 12px;
    &.show {
      visibility: visible;
      opacity: 1;
    }
    @include abstracts.screen(sm) {
      position: fixed;
      inset: 0;
      max-height: initial;
      max-width: initial;
      border-radius: 0;
    }
  }
  &__dialog-close {
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    top: 0;
    padding: 12px 18px;
    right: 0;
  }
  &__dialog-heading {
    font-weight: 600;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
  }
  &__search {
    display: flex;
    align-items: center;
    height: 38px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--auth-form-border-input-color);
    padding: 0 20px;
    @include abstracts.screen(sm) {
      border: 1px solid var(--auth-form-border-input-color);
      margin: 10px 30px;
      border-radius: 20px;
      height: 50px;
    }
    &-input {
      flex: 1;
      height: 100%;
    }
    &-icon {
      width: 16px;
    }
  }
  &__options-list {
    flex: 1;
    overflow-y: auto;
    overscroll-behavior: contain;
  }
  &__option {
    font-size: 1.4rem;
    padding: 8px 20px;
    @include abstracts.screen(lg) {
      padding: 12px 20px;
    }
    @include abstracts.screen(sm) {
      padding: 18px 30px;
    }
    &:hover:not(&--current) {
      background: #ebebeb;
      cursor: pointer;
    }
    &--current {
      background: rgba($color: #ffb700, $alpha: 0.7);
    }
  }
}
