@use "../abstracts";
%fill-screen {
  position: fixed;
  inset: 0;
}
.modal {
  @extend %fill-screen;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility;
  transition-duration: 0.2s;
  &.show {
    opacity: 1;
    visibility: visible;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 141.667%;
  }

  &__body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5rem;
    opacity: 0.7;
    z-index: 2;
    padding: 3px 20px;
  }

  &__content {
    position: relative;
    width: min(var(--content-width, 800px), 100% - 40px);
    border-radius: 20px;
    z-index: 1;
    background: var(--modal-bg);
    box-shadow: 0 20px 60px 10px var(--modal-boxshadow);
    padding: 30px;
  }

  &--small &__content {
    --content-width: 400px;
  }

  &--large &__content {
    --content-width: 1200px;
  }

  &--full &__content {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  &__bottom {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-end;
  }
  &__overlay {
    @extend %fill-screen;
    background: rgba($color: #000000, $alpha: 0.4);
  }
  &__delete {
    background: red;
    color: #fff;
  }
  @include abstracts.screen(md) {
    &__btn {
      flex: 1;
    }
    &__bottom {
      gap: 20px;
    }
  }
}
